@font-face {
  font-family: 'Bello Pro';
  src: url('Bello-Pro.eot');
  src: local('Bello Pro'), local('Bello-Pro'),
    url('Bello-Pro.eot?#iefix') format('embedded-opentype'),
    url('Bello-Pro.woff') format('woff'),
    url('Bello-Pro.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

header {
  background: url("../img/dreams.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 645px;
}

.navbar {
  display: flex;
  align-items: center;
  min-height: 80px;
  margin: 0 auto;
  width: 75%;
  padding: 15px;
}

.brand, .link {
  text-decoration: none;
}

.brand {
  margin-right: auto;
  color: #fff;
  font-family: 'Bello Pro';
  font-weight: normal;
  font-style: normal;
  font-size: 36px;
}

.toggler {
  display: none;
  width: 32px;
  background-color: transparent;
  border: transparent;
  text-align: center;
  color: #fff;
  font-size: 25px;
}

.menu {
  display: flex;
  align-items: center;
  list-style: none;
  height: 50px;
}

.menu-item {
  margin-right: 35px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}

.link {
  color: #c1c1c1;
}

.link:hover {
  color: #fff;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 125px;
}

.title h1 {
  font-family: 'Montserrat';
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 55px;
}

.title hr {
  width: 110px;
  height: 1px;
  color: #36b9eb;
  margin: 0 auto;
}

.title p {
  color: #ccc;
  font-family: 'Noto Sans';
  font-size: 20px;
  margin-top: 55px;
  margin-bottom: 125px;
}

.services {
  margin: 75px 145px;
}

.services h1 {
  text-align: center;
  margin-bottom: 40px;
  font-family: 'Montserrat';
  font-size: 40px;
  text-transform: uppercase;
}

.services hr {
  width: 110px;
  border: 2px solid #78d6fa;
  margin: 0 auto;
  margin-bottom: 65px;
}

.s-container {
  display: flex;
  justify-content: space-around;
}

.s-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  min-height: 215px;
  max-width: 310px;
  padding: 5px;
}

.s-item i {
  color: #ddd;
  font-size: 55px;
}

.s-item h3 {
  font-family: 'Montserrat';
  text-transform: uppercase;
  margin-top: 10px;
}

.s-item p {
  font-family: 'Noto Sans';
  font-size: 14px;
  color: #888;
  padding: 10px;
}

.expert {
  background: #f7f7f7;
  height: 615px;
  display: flex;
}

.text-content {
  margin-top: 100px;
  margin-left: 145px;
  margin-bottom: 90px;
  height: 425px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: "a a . ."
    "b b b ."
    "c c c c"
    "c c c c"
    "d . . ."
}

.text-content>h1 {
  grid-area: a;
  font-family: 'Montserrat';
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
}

.text-content>p {
  font-family: 'Noto Sans';
  font-size: 16px;
  color: #888;
  grid-area: b;
}

.text-content button {
  grid-area: d;
  width: 165px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid transparent;
  background-color: #35c2f8;
  color: #fff;
  font-family: 'Montserrat';
  font-weight: 600;
  text-transform: uppercase;
}

.text-content button:hover {
  border: 1px solid #ceeefa;
  background: #fff;
  color: #000;
}

.media-wrapper {
  display: flex;
  flex-wrap: wrap;
  grid-area: c;
}

.media {
  display: flex;
  width: 380px;
  margin-right: 20px;
}

.media i {
  font-size: 30px;
  width: 35px;
  height: 35px;
  color: #7b7b7b;
}

.media-header {
  color: #000;
  font-family: 'Montserrat';
  font-size: 14px;
  text-transform: uppercase;
}

.media p {
  font-family: 'Noto Sans';
  font-size: 14px;
  color: #888;
  margin-left: 10px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-areas: "a b c"
    "d e f"
}

.gall-item-a {
  grid-area: a;
}

.gall-item-b {
  grid-area: b;
}

.gall-item-c {
  grid-area: c;
}

.gall-item-d {
  grid-area: d;
}

.gall-item-e {
  grid-area: e;
}

.gall-item-f {
  grid-area: f;
}

@media screen and (max-width: 992px) {
  .navbar {
    width: 100%;
  }

  .menu {
    display: none;
  }

  .toggler {
    display: inherit;
  }
}

@media screen and (max-width: 767px) {
  .services {
    margin: 30px 0;
  }

  .services hr {
    margin-bottom: 30px;
  }

  .s-container {
    flex-direction: column;
    align-items: center;
  }
}